.total {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  h1 {
    font-size: 30px;
    font-weight: 400;
    color: greenyellow;

    @media (max-width: 550px) {
      & {
        font-size: 18px;
      }
    }
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 30px,
  }
}
