.total {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  h1 {
    font-size: 30px;
    font-weight: 400;
    color: greenyellow;
  }
}
