// https://www.joshwcomeau.com/animation/3d-button/

.game-button {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;

  &__shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }

  &__edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(250deg 100% 16%) 0%,
      hsl(250deg 100% 32%) 8%,
      hsl(250deg 100% 32%) 92%,
      hsl(250deg 100% 16%) 100%
    );
  }

  &__front {
    display: block;
    position: relative;
    padding: 8px 38px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(250deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  }

  &:disabled {
    cursor: auto;
    transform: none;
  }

  &:disabled &__front {
    background: hsl(0deg, 0%, 50%);
    transform: none;
  }

  &:disabled &__edge {
    background: linear-gradient(
      to left,
      hsl(0deg 0% 16%) 0%,
      hsl(0deg 0% 32%) 8%,
      hsl(0deg 0% 32%) 92%,
      hsl(0deg 0% 16%) 100%
    );
    transform: none;
  }

  &:active &__front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }

  &:active &__shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }

  &:hover &__shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  @media screen and (max-width: 450px) {
    &__front {
      font-size: 0.9rem;
    }
  }
}
