$AnswerSize: min(7vh);

.game {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: auto 75vh min(7vh) auto;

  @media screen and (max-width: 768px) {
    & {
      padding: 5px 5px 60px;
    }
  }

  @media screen and (max-height: 1200px) {
    & {
      padding: 5px;
      grid-template-rows: auto 70vh $AnswerSize auto;
    }
  }

  @media screen and (max-height: 1000px) {
    & {
      grid-template-rows: auto 70vh $AnswerSize auto;
    }
  }

  @media screen and (max-height: 800px) {
    & {
      grid-template-rows: auto 65vh minmax($AnswerSize, auto) auto;
    }
  }

  @media screen and (max-width: 450px) {
    & {
      grid-template-rows: auto 50vh minmax($AnswerSize, auto) auto;
    }
  }

}
