/** Fonts **/

@import url(./vendor/fonts/fonts.scss);

/** Normalize **/

@import url(./vendor/normalize.scss);

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.App {
  width: 95%;
  margin: 0 auto;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1 {
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.slider {
  display: flex;
  justify-content: center;
}

.slider__range {
  width: 100%;
}

.total {
  font-size: 30px;
  color: greenyellow;
}

.test {
  /* outline: 2px solid red; */
  height: 80vh;
}

/* * {
  outline: 2px solid green;
} */
