/** Fonts **/

@import url(./vendor/fonts/fonts.scss);

/** Normalize **/

@import url(./vendor/normalize.scss);

body {
  width: 100%;
  max-width: 1280px;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.root {
  font-family: 'Better VCR', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 5px 0 70px 0;
}

button {
  // https://www.joshwcomeau.com/animation/3d-button/
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform 600ms cubic-bezier(.3, .7, .4, 1);
  }


  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
        hsl(250deg 100% 16%) 0%,
        hsl(250deg 100% 32%) 8%,
        hsl(250deg 100% 32%) 92%,
        hsl(250deg 100% 16%) 100%);
  }

  .front {
    display: block;
    position: relative;
    padding: 8px 38px;
    border-radius: 12px;
    font-size: 1.25rem;
    color: white;
    background: hsl(250deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform 600ms cubic-bezier(.3, .7, .4, 1);
  }

  &:disabled {
    cursor: auto;
    transform: none;
  }

  &:disabled .front {
    background: hsl(0deg, 0%, 50%);
    transform: none;
  }

  &:disabled .edge {
    background: linear-gradient(to left,
        hsl(0deg 0% 16%) 0%,
        hsl(0deg 0% 32%) 8%,
        hsl(0deg 0% 32%) 92%,
        hsl(0deg 0% 16%) 100%);
    transform: none;
  }

  &:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }


  &:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }

  &:hover .shadow {
    transform: translateY(4px);
    transition:
      transform 250ms cubic-bezier(.3, .7, .4, 1.5);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.top-user__title {
  color: orange;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.top-users__position {
  padding-right: 20%;
}


// * {
//   outline: 2px solid red;
// }

